.container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.form_button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    justify-content: center;
}

.button {
    padding: 70px 20px;
    background-color: white;
}

.btn {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}

.btn:checked {
    color: #eee;
    cursor: not-allowed;
}

.btn:disabled {
    color: #eee;
    cursor: not-allowed;
    background-color: white;
}